<nav>
  <a class="button" routerLink="/Main">Main</a> |
  <a class="button" routerLink="/Graph">Graph</a> |
</nav>
<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
<!-- Toolbar -->

<mat-date-range-input [rangePicker]="picker">
  <input matStartDate formControlName="start" placeholder="Start date">
  <input matEndDate formControlName="end" placeholder="End date">
</mat-date-range-input>


<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
<mat-date-range-picker #picker></mat-date-range-picker>
<router-outlet></router-outlet>